/*=====WIREFRAME=====*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    text-align: center;
    background: url('./Assets/Party-Background-green-with-presents.jpg') no-repeat center;
    font-family: 'Libre Baskerville', serif;
    line-height: 1.5;
    color: #444349;
}

@media (min-width: 768px) {
    body {
        background: url(./Assets/Party-Background-green-with-presents.jpg) no-repeat center/cover;
    }
}


/*=====MAIN=====*/

.wrapper-one {
    position: relative;
    top: 20vh;
}

@media (min-width: 768px) {
    .wrapper-one {
        width: 100%;
        margin: 0 auto;
        top: 25vh;
    }
}

.name {
    font-size: 3.75rem;
    color: #FF69B4;
    font-family: 'Great Vibes', cursive;
}

@media (min-width: 768px) {
    .name {
        position: relative;
        top: 25vh;
        left: 15%;
        font-size: 9.75rem;
        color: #FF69B4;
        font-family: 'Great Vibes', cursive;
    }
}

.poezie {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.7em;
}

@media (min-width: 768px) {
    .poezie {
        position: relative;
        top: -15vh;
        font-size: 1.75rem;
    }
}

h1 {
    font-family: 'MonteCarlo', cursive;
    font-weight: bold;
    font-size: 1.75rem;
    color: #FF69B4;
}

@media (min-width: 768px) {
    h1 {
        position: relative;
        top: -12vh;
        font-size: 2.5rem;
    }
}

.locatia {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

@media (min-width: 768px) {
    .locatia {
        position: relative;
        top: -9vh;
        font-size: 1.75rem;
    }
}

img {
    width: 20%;
    border-radius: 50%;
}

@media (min-width: 768px) {
    img {
        position: relative;
        top: 25vh;
        left: 35%;
        font-size: 9.75rem;
        color: #FF69B4;
        font-family: 'Great Vibes', cursive;
    }
}